
TWASALNI/.idea/workspace.xml
/JavaApp/nbproject/private/
/JavaApp/tawaslni/nbproject/private/
/JavaFXAp/nbproject/private/
/JavaFXAp/build/
/JavaFXAp/dist/
/Desktop/nbproject/private/
/Desktop/dist/
/Desktop/build/
/test/nbproject/private/
/test/dist/
/test/build/