{% extends 'back.html.twig' %}
   {% block content %}
       <br>
       <br>
       <div  style="width: 400px ; position: relative ; right: -30%"  >
           {% block body %}
               <h1>Reservation edit</h1>

               {{ form_start(form) }}

               {{ form_end(form) }}


           {% endblock %}
           <br>
           <br>
       </div>
   {% endblock %}