<html>
<head></head>
<body>



<form method="get" action="{{ path('confirm_mdp',{'id':id }) }}">


    Nouveau MDP<input type="password" name="mdp"><br>
    Confirmer nouveau MDP <input type="password" name="double"><br>
    <input type="submit" value="Confirm">
</form>






</body>





</html>