{% extends "back.html.twig" %}
   {% block content %}

{% block body %}
    <h1>Taxi creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    <input type="file" name="photo" />
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('taxi_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
   {% endblock %}