utilisateurs_utilisateurs_reservation:
    resource: "@UtilisateursUtilisateursBundle/Resources/config/routing/reservation.yml"
    prefix:   admin/reservation

utilisateurs_utilisateurs_partenaire:
  resource: "@UtilisateursUtilisateursBundle/Resources/config/routing/partenaire.yml"
  prefix:   admin/partenaire

utilisateurs_utilisateurs_taxi:
  resource: "@UtilisateursUtilisateursBundle/Resources/config/routing/taxi.yml"
  prefix:   admin/taxi
reservation_new:
  path:     /reservationnew
  defaults: { _controller: "UtilisateursUtilisateursBundle:Reservation:new" }
  methods:  [GET, POST]
utilisateurs_utilisateurs_homepage:
  path:     /
  defaults: { _controller: UtilisateursUtilisateursBundle:Default:index }

course_create:
  path:     /createCourse
  defaults: { _controller: UtilisateursUtilisateursBundle:Courses:create }

course_read:
  path:     admin/readCourses
  defaults: { _controller: UtilisateursUtilisateursBundle:Courses:read }

course_delete:
  path:     admin/deleteCourse/{id}
  defaults: { _controller: UtilisateursUtilisateursBundle:Courses:delete }


course_update:
  path:     admin/updateCourse/{id}
  defaults: { _controller: UtilisateursUtilisateursBundle:Courses:update }


inventaire_read:
  path:     admin/readInventaire
  defaults: { _controller: UtilisateursUtilisateursBundle:Inventaire:read }

inventaire_readArchive:
  path:     admin/readInventaireArchive
  defaults: { _controller: UtilisateursUtilisateursBundle:Inventaire:archive }
inventaire_readArchivereservation:
  path:     admin/readInventaireReservationArchive
  defaults: { _controller: UtilisateursUtilisateursBundle:InventaireR:archive }
inventaire_notdone:
  path:     admin/nonpayerInventaire/{id}/{partenaire_id}
  defaults: { _controller: UtilisateursUtilisateursBundle:InventaireR:Notdone }

inventaire_done:
  path:     admin/payerInventaire/{id}
  defaults: { _controller: UtilisateursUtilisateursBundle:InventaireR:done }
inventaire_nonpaye:
  path:     admin/nonpayerInventaire/{id}/{partenaire_id}
  defaults: { _controller: UtilisateursUtilisateursBundle:InventaireR:Notdone }

inventaire_paye:
  path:     admin/payerInventaire/{id}
  defaults: { _controller: UtilisateursUtilisateursBundle:Inventaire:payer }

commission_read:
  path:     admin/readCommission/{id}
  defaults: { _controller: UtilisateursUtilisateursBundle:Commission:read }
inventaireR_read:
  path:     admin/readInventaireR
  defaults: { _controller: UtilisateursUtilisateursBundle:InventaireR:read }

commissionR_read:
  path:     admin/readCommissionR/{id}
  defaults: { _controller: UtilisateursUtilisateursBundle:CommissionR:read }
commissionR_pdf:
  path:    admin/pdfComm/{id}

  defaults: { _controller: UtilisateursUtilisateursBundle:CommissionR:pdf }














utilisateurs_utilisateurs_reservation:
  resource: "@UtilisateursUtilisateursBundle/Resources/config/routing/reservation.yml"
  prefix:   /reservation

fos_user:
    resource: "@FOSUserBundle/Resources/config/routing/all.xml"
