utilisateurs_utilisateurs_reservation:
    resource: "@UtilisateursUtilisateursBundle/Resources/config/routing/reservation.yml"
    prefix:   admin/reservation


utilisateurs_utilisateurs_partenaire:
  resource: "@UtilisateursUtilisateursBundle/Resources/config/routing/partenaire.yml"
  prefix:   admin/partenaire

utilisateurs_utilisateurs_taxi:
  resource: "@UtilisateursUtilisateursBundle/Resources/config/routing/taxi.yml"
  prefix:   admin/taxi

reservation_new:
  path:     /reservation/new
  defaults: { _controller: "UtilisateursUtilisateursBundle:Reservation:new" }
  methods:  [GET, POST]
ALLRESERVATION:
  path:    /ALLRESERVATION/{id}
  defaults: { _controller: UtilisateursUtilisateursBundle:Reservation:AllRESERVATION }
DELETERESERVATION:
  path:    /deleteReservation/{id}
  defaults: { _controller: UtilisateursUtilisateursBundle:Reservation:deleteReservation }
UPDATERESERVATION:
  path:    /UPDATE/RESERVATION
  defaults: { _controller: UtilisateursUtilisateursBundle:Reservation:UpdateReservation }
NEWRESERVATION:
  path:    /NEW/RESERVATION
  defaults: { _controller: UtilisateursUtilisateursBundle:Reservation:newReservation }
GETUSER:
  path:    /USER/{id}
  defaults: { _controller: UtilisateursUtilisateursBundle:Default:find }

AjoutUser:
  path:    /ajout
  defaults: { _controller: UtilisateursUtilisateursBundle:Default:findd }

utilisateurs_utilisateurs_homepage:
  path:     /
  defaults: { _controller: UtilisateursUtilisateursBundle:Default:index }

course_create:
  path:     /createCourse
  defaults: { _controller: UtilisateursUtilisateursBundle:Courses:create }

NEWCOURSE:
  path:    /NEW/COURSE
  defaults: { _controller: UtilisateursUtilisateursBundle:Courses:newCourses }

course_read:
  path:     admin/readCourses
  defaults: { _controller: UtilisateursUtilisateursBundle:Courses:read }

course_delete:
  path:     admin/deleteCourse/{id}
  defaults: { _controller: UtilisateursUtilisateursBundle:Courses:delete }


course_update:
  path:     admin/updateCourse/{id}
  defaults: { _controller: UtilisateursUtilisateursBundle:Courses:update }


inventaire_read:
  path:     admin/readInventaire
  defaults: { _controller: UtilisateursUtilisateursBundle:Inventaire:read }

inventaire_readArchive:
  path:     admin/readInventaireArchive
  defaults: { _controller: UtilisateursUtilisateursBundle:Inventaire:archive }

inventaire_readArchivereservation:
  path:     admin/readInventaireReservationArchive
  defaults: { _controller: UtilisateursUtilisateursBundle:InventaireR:archive }

inventaire_notdone:
  path:     admin/nonpayerInventaire/{id}/{partenaire_id}
  defaults: { _controller: UtilisateursUtilisateursBundle:InventaireR:Notdone }

inventaire_done:
  path:     admin/payerInventaire/{id}
  defaults: { _controller: UtilisateursUtilisateursBundle:InventaireR:done }

inventaire_nonpaye:
  path:     admin/nonpayerInventaires/{id}/{partenaire_id}
  defaults: { _controller: UtilisateursUtilisateursBundle:Inventaire:nonpayer }

inventaire_paye:
  path:     admin/payerInventaires/{id}
  defaults: { _controller: UtilisateursUtilisateursBundle:Inventaire:payer }

commission_read:
  path:     admin/readCommission/{id}
  defaults: { _controller: UtilisateursUtilisateursBundle:Commission:read }

comission_pdf:
  path:     admin/pdfCommission/{id}
  defaults: { _controller: UtilisateursUtilisateursBundle:Commission:pdf }


inventaireR_read:
  path:     admin/readInventaireR
  defaults: { _controller: UtilisateursUtilisateursBundle:InventaireR:read }

commissionR_read:
  path:     admin/readCommissionR/{id}
  defaults: { _controller: UtilisateursUtilisateursBundle:CommissionR:read }
commissionR_pdf:
  path:    admin/pdfComm/{id}

  defaults: { _controller: UtilisateursUtilisateursBundle:CommissionR:pdf }


changer_mdp:
  path:    admin/changermdp/{id}
  defaults: { _controller: UtilisateursUtilisateursBundle:Partenaire:rendermdp }

confirm_mdp:
  path:    admin/confirmmdp/{id}
  defaults: { _controller: UtilisateursUtilisateursBundle:Partenaire:changermdp }


fos_user:
    resource: "@FOSUserBundle/Resources/config/routing/all.xml"



GETPARTENAIRES:
  path:     /PARTENAIRES
  defaults: { _controller: UtilisateursUtilisateursBundle:Partenaire:GetPartenaires }


GETCOURSESMob:
  path:     /COURSEuu
  defaults: { _controller: UtilisateursUtilisateursBundle:Courses:GetCourses }


DELCOURSESMOBILE:
  path:     /DEL/COURSE/{id}
  defaults: { _controller: UtilisateursUtilisateursBundle:Courses:DelMobile }



