utilisateurs_utilisateurs_homepage:
  path:     /
  defaults: { _controller: UtilisateursUtilisateursBundle:Default:index }



course_create:
  path:     /createCourse
  defaults: { _controller: UtilisateursUtilisateursBundle:Courses:create }

course_read:
  path:     /readCourses
  defaults: { _controller: UtilisateursUtilisateursBundle:Courses:read }

course_delete:
  path:     /deleteCourse/{id}
  defaults: { _controller: UtilisateursUtilisateursBundle:Courses:delete }


course_update:
  path:     /updateCourse/{id}
  defaults: { _controller: UtilisateursUtilisateursBundle:Courses:update }

fos_user:
    resource: "@FOSUserBundle/Resources/config/routing/all.xml"
