{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <head>

    <meta http-equiv="refresh" content="8; url='../login'">
    </head>
<div align="center"  >

    <br>
    <br>

    <img style="width: 300px" src="{{ asset('templates/backoffice/images/icon/logo3.png')}}">
    <div style="background-color: whitesmoke">
    <H4 style="color: #00aced">{{ 'registration.check_email'|trans({'%email%': user.email}) }}</H4>
</div>
</div>
{% endblock fos_user_content %}
